@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing Rubik font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Reset global margin and padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif; /* Set the Rubik font */
  background-color: #f4f4f4;
  margin: 0; /* Ensure no margin */
}
